In [3]:
#importing libraries
import requests
import json
import pandas as pd
import sqlite3
from bs4 import BeautifulSoup
import pymongo

In [7]:
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [17]:
cur.execute("""SELECT * from matches where season = '2011' limit 5;""").fetchall()

[(1092, 'D1', 2011, '2012-03-31', 'Nurnberg', 'Bayern Munich', 0, 1, 'A'),
 (1093, 'D1', 2011, '2011-12-11', 'Stuttgart', 'Bayern Munich', 1, 2, 'A'),
 (1094, 'D1', 2011, '2011-08-13', 'Wolfsburg', 'Bayern Munich', 0, 1, 'A'),
 (1095, 'D1', 2011, '2011-11-27', 'Mainz', 'Bayern Munich', 3, 2, 'H'),
 (1096, 'D1', 2011, '2012-02-18', 'Freiburg', 'Bayern Munich', 0, 0, 'D')]

In [31]:
cur.execute("""SELECT from matches where season = '2011' and HomeTeam is 'Bayern Munich' limit 5;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1122,D1,2011,2011-11-19,Bayern Munich,Dortmund,0,1,A
1,1178,D1,2011,2011-12-16,Bayern Munich,FC Koln,3,0,H
2,1197,D1,2011,2011-09-10,Bayern Munich,Freiburg,7,0,H
3,1211,D1,2011,2011-08-20,Bayern Munich,Hamburg,5,0,H
4,1235,D1,2011,2012-02-11,Bayern Munich,Kaiserslautern,2,0,H

In [32]:
cur.execute("""SELECT * from teams limit 5;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

In [54]:
cur.execute("""select HomeTeam, 
       sum(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) as homewin,
       sum(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) as homedraw,
       sum(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) as homeloss,
       sum(FTHG) as HomeGF,
       sum(FTAG) as HomeGA
       from Matches
       where Season = 2011
       group by HomeTeam
       order by HomeTeam;""")
cur.execute("""select HomeTeam, 
       sum(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) as homewin,
       sum(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) as homedraw,
       sum(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) as homeloss,
       sum(FTHG) as HomeGF,
       sum(FTAG) as HomeGA
       from Matches
       where Season = 2011
       group by HomeTeam
       order by HomeTeam;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

              HomeTeam  homewin  homedraw  homeloss  HomeGF  HomeGA
0               Aachen        4         6         7      15      24
1              Arsenal       12         4         3      39      17
2          Aston Villa        4         7         8      20      25
3             Augsburg        6         7         4      20      19
4        Bayern Munich       14         1         2      49       6
5            Blackburn        6         1        12      26      33
6               Bochum        7         3         7      23      23
7               Bolton        4         4        11      23      39
8         Braunschweig        6         8         3      21      15
9              Chelsea       12         3         4      41      24
10             Cottbus        4         8         5      18      25
11            Dortmund       14         2         1      44      12
12             Dresden        8         5         4      30      20
13            Duisburg        8         2         7      23      18
14       Ein Frankfurt       11         5         1      38      12
15      Erzgebirge Aue        5         7         5      19      22
16             Everton       10         3         6      28      15
17             FC Koln        5         4         8      20      29
18  Fortuna Dusseldorf       11         5         1      35      17
19       Frankfurt FSV        3        10         4      20      26
20            Freiburg        6         6         5      24      20
21              Fulham       10         5         4      36      26
22      Greuther Furth       14         1         2      46      12
23             Hamburg        3         7         7      19      29
24            Hannover       10         7         0      31      17
25       Hansa Rostock        3         7         7      20      32
26              Hertha        4         3        10      19      29
27          Hoffenheim        4         9         4      21      17
28          Ingolstadt        6         8         3      28      21
29      Kaiserslautern        2         5        10      12      28
30           Karlsruhe        8         3         6      23      28
31          Leverkusen        8         4         5      28      24
32           Liverpool        6         9         4      24      16
33          M'gladbach        9         7         1      29      10
34               Mainz        7         3         7      27      26
35            Man City       18         1         0      55      12
36          Man United       15         2         2      52      19
37         Munich 1860       10         2         5      35      22
38           Newcastle       11         5         3      29      17
39             Norwich        7         6         6      28      30
40            Nurnberg        6         4         7      22      25
41           Paderborn        9         6         2      28      16
42                 QPR        7         5         7      24      25
43          Schalke 04       13         1         3      47      14
44            St Pauli       12         3         2      36      16
45               Stoke        7         8         4      25      20
46           Stuttgart       10         3         4      36      17
47          Sunderland        7         7         5      26      17
48             Swansea        8         7         4      27      18
49           Tottenham       13         3         3      39      17
50        Union Berlin       11         2         4      30      18
51       Werder Bremen        8         4         5      31      23
52           West Brom        6         3        10      21      22
53               Wigan        5         7         7      22      27
54           Wolfsburg       10         2         5      29      22
55              Wolves        3         3        13      19      43

In [55]:
cur.execute("""select AwayTeam, 
       sum(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) as awaywin,
       sum(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) as awaydraw,
       sum(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) as awayloss,
       sum(FTHG) as AwayGF,
       sum(FTAG) as AwayGF
       from Matches
       where Season = 2011
       group by AwayTeam
       order by AwayTeam;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

              AwayTeam  awaywin  awaydraw  awayloss  AwayGF  AwayGF
0               Aachen        2         7         8      23      15
1              Arsenal        9         3         7      32      35
2          Aston Villa        3        10         6      28      17
3             Augsburg        2         7         8      30      16
4        Bayern Munich        9         3         5      16      28
5            Blackburn        2         6        11      45      22
6               Bochum        3         4        10      32      18
7               Bolton        6         2        11      38      23
8         Braunschweig        4         7         6      20      16
9              Chelsea        6         7         6      22      24
10             Cottbus        4         3        10      24      12
11            Dortmund       11         4         2      13      36
12             Dresden        4         4         9      32      20
13            Duisburg        2         7         8      29      19
14       Ein Frankfurt        9         3         5      21      38
15      Erzgebirge Aue        3         4        10      33      12
16             Everton        5         8         6      25      22
17             FC Koln        3         2        12      46      19
18  Fortuna Dusseldorf        5         9         3      18      29
19       Frankfurt FSV        4         4         9      33      23
20            Freiburg        4         4         9      41      21
21              Fulham        4         5        10      25      12
22      Greuther Furth        6         9         2      15      27
23             Hamburg        5         5         7      28      16
24            Hannover        2         5        10      28      10
25       Hansa Rostock        2         5        10      31      14
26              Hertha        3         7         7      35      19
27          Hoffenheim        6         2         9      30      20
28          Ingolstadt        2         5        10      37      15
29      Kaiserslautern        2         6         9      26      12
30           Karlsruhe        1         3        13      32      11
31          Leverkusen        7         5         5      20      24
32           Liverpool        8         1        10      24      23
33          M'gladbach        8         2         7      14      20
34               Mainz        2         9         6      25      20
35            Man City       10         4         5      17      38
36          Man United       13         3         3      14      37
37         Munich 1860        7         4         6      24      27
38           Newcastle        8         3         8      34      27
39             Norwich        5         5         9      36      24
40            Nurnberg        6         2         9      24      16
41           Paderborn        8         4         5      26      23
42                 QPR        3         2        14      41      19
43          Schalke 04        7         3         7      30      27
44            St Pauli        6         5         6      18      23
45               Stoke        4         4        11      33      11
46           Stuttgart        5         5         7      29      27
47          Sunderland        4         5        10      29      19
48             Swansea        4         4        11      33      17
49           Tottenham        7         6         6      24      27
50        Union Berlin        3         4        10      40      25
51       Werder Bremen        3         5         9      35      18
52           West Brom        7         5         7      30      24
53               Wigan        6         3        10      35      20
54           Wolfsburg        3         3        11      38      18
55              Wolves        2         7        10      39      21

In [61]:
cur.execute("""Select * from 
       (select AwayTeam,
       sum(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) as awaywin,
       sum(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) as awaydraw,
       sum(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) as awayloss,
       sum(FTHG) as AwayGF,
       sum(FTAG) as AwayGF
       from Matches
       where Season = 2011
       group by AwayTeam
       order by AwayTeam)
       
       join on HomeTeam
       
       (select HomeTeam,
       sum(CASE WHEN FTHG > FTAG THEN 1 ELSE 0 END) as homewin,
       sum(CASE WHEN FTHG = FTAG THEN 1 ELSE 0 END) as homedraw,
       sum(CASE WHEN FTHG < FTAG THEN 1 ELSE 0 END) as homeloss,
       sum(FTHG) as HomeGF,
       sum(FTAG) as HomeGA
       from Matches
       where Season = 2011
       group by HomeTeam
       order by HomeTeam""")


df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

OperationalError: near ")": syntax error